<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h3>고객 등록</h3>
    <form id="userForm">
      <input type="text" id="name" placeholder="이름" /><br /><br />
      <input type="email" id="email" placeholder="이메일" /><br /><br />
      <button type="button" onclick="signup()">등록</button>
    </form>
    <script>
      function signup() {
        const data = {
          userName: document.querySelector("#name").value,
          userEmail: document.querySelector("#email").value,
        };
        console.log("안녕");
        axios({
          method: "post",
          url: "/api/user/createuser",
          data,
        }).then((res) => {
          if (res.data.result) {
            alert("회원가입을 축하합니다. 로그인 페이지로 이동합니다");
            document.location.href = "/login";
          }
        });
      }
    </script>
  </body>
</html>
