<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>홈 전송 실습</h3>
    <h4>get 요청</h4>
    <form action="/getForm" method="get">
        <input type="text" placeholder="id" name="id"  required><br/>
        <input type="password" placeholder="pw" name="pw" required><br/><br/>
        <button type="submit">제출</button>
    </form>
    <h4>post 요청</h4>
    <form action="/postForm" method="post">
        <input type="text" placeholder="id" name="id"  required><br/>
        <input type="password" placeholder="pw" name="pw" required><br/><br/>
        <button type="submit">제출</button>
    </form>
</body>
</html>