<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>새 글 쓰기</h3>
    <a href="/post">목록</a><br /><br />
    <form>
      <input type="text" id="title" placeholder="제목을 입력하세요" /><br />
      <textarea id="content" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea><br>
      <button type="button" onclick="writeFunc()">등록</button>
    </form>
  </body>
</html>
